#include "../Common.xcconfig"

 OTHER_LDFLAGS = -framework AdSupport -framework ComScore -framework libextobjc -framework MAKVONotificationCenter -framework SRGAnalytics_MediaPlayer -framework SRGAnalytics -framework SRGContentProtection -framework SRGDataProvider -framework SRGLogger -framework SRGMediaPlayer -framework SRGNetwork -framework TCCore -framework TCSDK
